// *Buttons
.btn {
    display: inline-block;
    padding: 19px 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-width: 203px;

    @media screen and (min-width: $mobileBreakpoint)  {
        transition: .35s ease;
        circle {
            transition: .35s ease;
        }
        &:hover {
            circle:nth-child(1) {
                fill: rgba(36, 125, 255, 0.1);
            }
            circle:nth-child(2) {
                fill: rgba($secondary, 0.2);
            }
        }
    }

    & > svg {
        margin-right: 12px;
    }

    &--flex {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 13px 30px;
    }

    &--default {
        background-color: $primary;
        color: $main;
    }

    &--outline {
        border-color: $white;
    }

    &--hover-white {
        &:hover {
            border-color: transparent;
            background-color: $white;
            color: $secondary;
        }
    }
    
    &--hover-secondary {
        &:hover {
            background-color: $secondary;
            color: $white;
        }
    }

    &--wide {
        width: 100%;
    }

}

.btn-link {
    display: inline-flex;
    align-items: center;
    color: $primary;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $secondary;
    cursor: pointer;

    @media screen and (min-width: $mobileBreakpoint) {
        transition: .35s ease;
        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }

    & > img {
        flex-shrink: 0;
        margin-left: 10px;
    }
}

// */Buttons