// *Menu
.header {
    &__overlay {
        display: none;
        position: fixed;
        z-index: 5;
        left: 0;
        top: 0;
        bottom: 9px;
        right: 0;
        width: 100%;
        height: 100%;
        transition: .35s ease;
        opacity: 0;
        background-color: rgba(#272727, .5);
        &.active {
            opacity: 1;
        }
    }

    &__close {
        position: absolute;
        right: 30px;
        top: 24px;
        z-index: 4;
        display: none;
        @media screen and (max-width: $mobileBreakpoint) {
            display: block;
        }
    }

    &__burger {
        display: none;
        span {
            display: block;
            width: 26px;
            height: 3px;
            background-color: $main;
            margin-bottom: 4px;
            border-radius: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: $mobileBreakpoint) {
            display: block;
        }
    }

    @media screen and (max-width: $mobileBreakpoint) {
        .header__menu {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            position: fixed;
            right: 0;
            top: 0;
            width:  228px;
            height: 100%;
            z-index: 7;
            background-color: $white;
            overflow: auto;
            transition: .35s ease; 
            transform: translateX(150%);
        }
        &.active {
            .header__menu {
                transform: translateX(0);
            }
        }
    }
}

// */Menu