.benefits {

    &__subtitle {
        max-width: 512px;
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }

    &__item {
        background-color: $lightblue;
        margin: 10px;
        padding: 42px 55px 45px 55px;
        border-radius: 10px; 
        width: calc(50% - 20px);

        
        @media screen and (min-width: $mobileBreakpoint) {
            transition: .35s ease;
            .benefits__icon {
                transition: .35s ease;
            }
            &:hover {
                background-color: #DFECFF;
                .benefits__icon {
                    border-color: #E7F1FF;
                }
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        padding: 5px;
        background-color: $white;
        border: 7px solid transparent;
        margin-bottom: 20px;
        border-radius: 50%;

        &--big {

        }
    }

    &__name {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: -0.02em;
        margin-bottom: 12px;
    }

    &__text {
        color: rgba($main, .8);
        font-size: 14px;
    }
}