.header {
    padding: 8px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 22;
    padding: 17px 0;
    background-color: $white;
    transition: box-shadow .4s ease;

    &.fixed {
        box-shadow: 0px 6px 16px rgba(14, 26, 40, 0.1);
        position: fixed;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;
    }
    
    &__navigation {
        margin-right: auto;
    }
    
    &__btn {
        margin-left: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: normal;
        min-width: auto;
        &--login {
            text-decoration: underline;
            @media screen and (min-width: $mobileBreakpoint) {
                transition: color .35s ease;
                &:hover {
                    color: $secondary;
                }
            }
        }
        &--signup {
            padding: 11px 30px;
        }
        &:first-child {
            margin-left: 0;
        }
    }

    &__logo {
        margin-right: 30px;
    }
}

.navigation {
    & > ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 28px;

        & > li {
            position: relative;
            margin: 0 28px;
            cursor: pointer;
            padding-bottom: 8px; 

            &.active {
                & > ul {
                    display: block;
                }
            }

            & > a {
                font-weight: 500;
            }

            @media screen and (min-width: $mobileBreakpoint) {
                & > a {
                    transition: .35s ease;
                }
                &:hover {
                    .navigation__list-title {
                        color: $secondary;
                        text-decoration: underline;
                        svg {
                            transform: rotate(180deg);
                        }
                        path {
                            fill: $secondary;
                        }
                    }

                    & > a {
                        color: $secondary;
                    }
                    
                    & > ul {
                        display: block;
                    }
                }
            }
        }
    }

    &__list {
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        background-color: $white;
        border: 1px solid #F5F5F5;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 16px;
        min-width: 168px;

        // Inner items
        & > li {
            // Inner items links
            & > a {
                display: block;
                padding: 4px;
                @media screen and (min-width: $mobileBreakpoint) {
                    transition: .35s ease;
                    &:hover {
                        color: $secondary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__list-title {
        display: flex;
        align-items: center;

        & > span {
            font-weight: 500;
        }
        
        svg {
            margin-left: 8px;
        }
        
        @media screen and (min-width: $mobileBreakpoint) {
            transition: .35s ease;
            path, svg {
                transition: .35s ease;
            }
        }
    }
}