.hero {
    background: url('../img/bg-elem-1.svg') top left no-repeat,
                url('../img/bg-elem-2.svg') bottom 19px right no-repeat,
                url('../img/hero-bg.jpg') center / cover no-repeat;
    color: $white;
    padding: 170px 0;
    margin-bottom: 70px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 523px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 50px;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }

    &__btn {
        margin: 10px;
    }

    &__img {
        position: relative;
        width: 50%;
        position: relative;
    }

    &__img-forward {
        position: relative;
        z-index: 3;
    }

    &__img-back {
        position: absolute;
        right: -18px;
        top: -18px;
        img {
            opacity: 0.2;
            filter: blur(3.7365px);
            border-radius: 9px;
        }
    }
}

.hero-home {
    &__img {
        width: 75%;
        right: -65px;
        text-align: right;
    }
}