@media screen and (max-width: 1440px) {
    .slider-arrows__item {
        z-index: 3;
        &--prev {
            left: -15px;
        }
        &--next {
            right: -15px;
        }
    }
}
@media screen and (max-width: 1260px) {
    .navigation > ul {
        margin: 0 -16px;
        & > li {
            margin: 0 16px;
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) { 
    .slider-arrows__item {
        &--prev {
            left: 15px;
        }
        &--next {
            right: 15px;
        }
    }
    .lead-footer {
        margin-top: 45px;
    }
    .lead {
        margin: 45px 0;
    }
    .section {
        padding: 45px 0;
    }
    .title {
        font-size: 38px;
        &--lg {
            font-size: 42px;
        }
        &--md {
            font-size: 26px;
        }
    }
    .subtitle {
        font-size: 16px;
    }
    .seo-box {
        &__content {
            width: calc(59% - 50px);
            margin-left: 50px;
        }
    }
    .how-tabs {
        &__content {
            width: calc(60% - 40px);
            margin-left: 40px;
        }
    }
    .reviews {
        &__item {
            padding: 70px;
        }
    }
    .page {
        padding-top: 55px;
    }
    .hero-home__img {
        right: -35px;
    }
    .hero {
        padding: 50px 0;
        &__content {
            max-width: 430px;
        }
        &__title {
            font-size: 36px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .header {
        padding: 13px 0;

        &__login {
            display: flex;
        }
        &__socials {
            display: block;
        }
        &__menu {
            padding: 72px 27px 52px;
        }
        &__buttons {
            margin-left: auto;
            margin-right: 20px;
        }
        &__logo img {
            width: 79px;
        }
        &__btn {
            &--signup {
                display: none;
            }
            &--login {
                padding: 7px 21px;
                text-shadow: 0px 4px 6px rgba(132, 82, 6, 0.1);
                border-radius: 50px;
                text-decoration: none;
                background-color: $primary;
                font-size: 12px;
                font-weight: 600;
                line-height: 1.4;
            }
        }
    }
    .navigation {
        margin-right: 0;
        width: 100%;
        
        &__list {
            position: static;
            box-shadow: none;
            border: none;
            padding: 0 17px;
            & > li {
                position: relative;
                margin-bottom: 14px;
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 5px;
                    width: 6px;
                    height: 6px;
                    background-color: rgba(4, 26, 69, 0.5);
                    border-radius: 1px;
                }
                & > a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.2;
                    color: rgba(4, 26, 69, 0.5);
                    padding: 0;
                    padding-left: 16px;
                }
            }
        }
        &__list-title {
            position: relative;
            padding: 14px 0;
            &::before,
            &::after {
                position: absolute;
                content: "";
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: $main;
                width: 10px;
                height: 1px;
                transition: .35s ease;
            }
            &::after {
                transform: translateY(-50%) rotate(90deg);
                transition: .35s ease;
            }
            svg {
                display: none;
            }
        }
        & > ul {
            margin: 0;
            display: block;
            margin-bottom: 30px;
            & > li {
                margin: 0;
                border-bottom: 1px solid rgba(4, 26, 69, 0.1);
                padding-bottom: 0;
                &.active {
                    .navigation__list-title::after {
                        transform: translateY(-50%) rotate(0deg);
                        opacity: 0;
                    }
                }
                & > a {
                    display: block;
                    padding: 14px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 768px) { 
    .how {
        overflow: hidden;
        &__subtitle {
            margin-bottom: 24px;
        }
    }
    .how-tabs {
        &__buttons {
            width: 100%;
        }
        &__content-item {
            &.active {
                display: flex;
                flex-direction: column;
            }
        }
        &__content {
            width: 100%;
            margin-left: 0;
        }
        &__item {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
            margin-bottom: 32px;
        }
        &__btn {
            margin-bottom: 0;
        }
        &__text {
            margin-top: 16px;
        }
        &__img {
            margin-bottom: 32px;
            order: 4;
            width: 574px;
        }
    }
    .footer {
        background: url('../img/bg-elem-4.svg') left bottom 194px no-repeat,
                    url('../img/bg-elem-5.svg') right bottom no-repeat;
        background-color: $main;
        &__middle {
            border: none;
            padding-top: 44px;
            padding-bottom: 22px;
        }
        &__top {
            flex-direction: column;
            padding: 44px 0;
        }
        &__bottom {
            padding-top: 22px;
            padding-bottom: 44px;
        }
        &__form {
            margin: 0;
        }
        &__col {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                display: none;
            }
        }
    }
    .lead-footer {
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 40px;
        &__inner {
            flex-direction: column-reverse;
            padding: 0 15px;
        }
        &__content {
            width: 100%;
            text-align: center;
        }
        &__subtitle {
            margin-bottom: 16px;
            font-size: 14px;
        }
        &__title {
            margin-bottom: 12px;
        }
        &__buttons {
            justify-content: center;
        }
        &__img {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
    }
    .lead {
        margin: 30px 0;
    }
    .btn-link {
        font-size: 14px;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet,
    .reviews .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .reviews .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
        margin: 0 3px;
    }
    .modal .reviews__item {
        padding: 33px;
        padding-top: 56px;
    }
    .reviews {
        &__rating li {
            margin: 0 2px;
            img {
                width: 15px;
                height: 15px;
            }
        }
        &__name {
            font-size: 16px;
            margin-bottom: 2px;
        }
        &__position {
            font-size: 14px;
            margin-bottom: 8px;
        }
        &__slider {
            padding-bottom: 28px;
        }
        &__item {
            padding: 36px 28px;
            height: 350px;
            background-image: none;
        }
        &__item-head {
            margin-bottom: 20px;
        }
        &__text {
            max-height: 140px;
            font-size: 16px;
        }
        &__img {
            margin-right: 15px;
            &::after {
                width: 25px;
                height: 25px;
                background-size: 14px;
            }
            img {
                width: 75px;
                height: 75px;
            }
        }
    }
    .slider-arrows {
        display: none;
    }
    .integrations {
        &__slider {
            padding-bottom: 24px;
        }
        &__head {
            flex-direction: column;
        }
        &__link {
            margin-left: 0;
        }
        &__subtitle {
            margin-bottom: 8px;
        }
    }
    .btn {
        font-size: 14px;
        padding: 0 20px;
        line-height: 48px;
        & > span {
            line-height: 48px;
        }
        & > svg {
            width: 23px;
            height: 23px;
            margin-right: 6px;
        }
    }
    .benefits {
        &__list {
            margin: -8px;
        }
        &__item {
            padding: 36px 25px;
            margin: 8px;
        }
        &__icon {
            width: 55px;
            height: 55px;
            margin-bottom: 15px;
        }
        &__name {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    .title {
        font-size: 26px;
        margin-bottom: 8px;
        &--lg {
            font-size: 28px;
        }
        &--md {
            font-size: 26px;
        }
        &--sm {
            font-size: 26px;
        }
    }
    .subtitle {
        font-size: 14px;
    }
    .section {
        padding: 30px 0;
    }
    .seo-box {
        &__inner {
            flex-direction: column;
        }
        &__img {
            margin-bottom: 24px;
            width: 100%;
        }
        &__content {
            width: 100%;
            margin: 0;
        }
        &__title {
            margin-bottom: 24px;
        }
    }
    .lead {
        background: url('../img/bg-elem-3.svg') top 10px left / 133px no-repeat,
                    url('../img/bg-elem-2.svg') bottom 0 right 22px / 110px no-repeat,
                    url('../img/hero-bg.jpg') right / cover no-repeat;
    }
    .hero {
        padding: 32px 0;
        margin-bottom: 35px;
        background: url('../img/bg-elem-1.svg') top left / 133px no-repeat,
                    url('../img/hero-bg.jpg') right / cover no-repeat;
        &__title {
            text-align: center;
            padding: 0 10px;
            margin-bottom: 8px;
            font-size: 28px;
        }
        &__inner {
            flex-direction: column;
        }
        &__img {
            width: 100%;
            text-align: center;
            position: static;
            margin-bottom: 24px;
        }
        &__img-back {
            display: none;
        }
        &__content {
            max-width: 100%;
        }
        &__text {
            margin-bottom: 24px;
            text-align: center;
            padding: 0 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .benefits {
        &__list {
            margin: 0;
        }
        &__item {
            width: 100%;
            margin: 0;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
} 

@media screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }
    .how-tabs {
        &__btn {
            padding: 14px 20px;
        }
    }
    .footer {
        &__subtitle {
            margin-bottom: 16px;
        }
        &__row {
            justify-content: center;
        }
        &__form {
            max-width: 100%;
            form {
                flex-direction: column;
            }
        }
        &__input {
            margin-bottom: 16px;
            padding: 11px 16px;
            border-radius: 3px;
        }
        &__button {
            border-radius: 3px;
            padding: 9px 16px;
        }
        &__logo {
            text-align: center;
            margin-bottom: 6px;
            img {
                width: 101px;
            }
        }
        &__socials {
            svg {
                width: 26px;
                height: 26px;
            }
        }
        &__bottom {
            font-size: 12px;
            flex-direction: column;
            align-items: center;
        }
        &__bottom-links {
            margin: 0 -10px;
            padding-bottom: 24px;
        }
        &__copy {
            color: rgba($white, .5);
        }
        &__bottom-link {
            margin: 0 10px;
        }
        &__mob-caption {
            display: block;
            text-align: center;
        }
    }
    .reviews {
        &__positon {
            font-size: 12px;
        }
        &__name {
            font-size: 14px;
        }
        &__item {
            height: 400px;
        }
        &__text {
            max-height: 190px;
            font-size: 14px;
        }
    }
    .hero__buttons,
    .lead__buttons,
    .lead-footer__buttons {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .hero__btn,
    .lead__btn,
    .lead-footer__btn {
        min-width: 282px;
        margin: 0;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 400px) {
}
@media screen and (max-width: 350px) {
    .reviews {
        &__item {
            padding: 36px 20px;
        }
    }
}